<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="XsdExecutablePath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.7.2 Tools\xsd.exe" />
      <add key="TargetNamespace" value="XsdModels" />
      <add key="TargetFileName" value="XsdModels" />
      <add key="SourceXsdFilesFolder" value="C:\Users\jtyma\Desktop\xsdTest2\source" />
      <add key="TargetXsdFilesFolder" value="C:\Users\jtyma\Desktop\xsdTest2\target" />
    </appSettings>
</configuration>